/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2015, 10:54:00 PM
    Author     : Mazhar
*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #41A85B;
}


a {
    color: #fff;
}
a:hover{

    text-decoration: none;
    color: #fff;
}
h3 {
    font-weight: 700;
    font-style: italic;
}
h4 {
    font-weight: 600;
    font-style: italic;
}
h5 {
    font-weight: 400;
    font-style: italic;
}
label{
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}
button {
    font-weight: 600;
    font-style: italic;
}
th {
    font-weight: 700;
    font-style: italic;
}
tr:hover {
    background-color: #00AA55;
}
td {
    font-weight: 600;
    font-style: italic;
}
img {
    display: block;
    margin: 0 auto;
    width: 10%;

}